<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/public/style.css">
  <title>Women's Health and Beauty</title>
</head>


<body>
  {{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/app.js"></script>
</body>

<footer class="page-footer">
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright.
  </div>
</footer>

</html>