<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Women's Health and Beauty</title>
</head>


<body>

  <div class="container">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Beauty Insider.</h1>
        <h3 class="lead">Find beauty articles below.</h3>
        <h2 class="lead">Click on the article to make a comment :)</h2>
        {{!-- <div>
          <a class="navbar-brand btn btn-primary btn-lg active" href="/" id="jumbobtn">Home</a>
        </div> --}}
        <div>
          <a class="navbar-brand btn btn-info btn-lg active" href="/scrape" id="scrape">Scrape New Articles</a>
        </div>
      </div>
    </div>

    {{{body}}}

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script src="/app.js"></script>
</body>

<footer class="page-footer">
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright.
  </div>
</footer>

</html>