<body>

  <div class="container">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Beauty Insider.</h1>
        <p class="lead">Find beauty articles below.</p>
        <p class="lead">Click on the article to make a comment :)</p>
      </div>
    </div>

    <div class="row" id="scrapedarticles">
      <div class="col-8" id="articles"></div>
      <div class="col-4" id="notes"></div>
    </div>


  </div>

  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
  {{!-- <script src="app.js"></script> --}}

</body>