<div class="container">
    {{#each article}}
        <div class="card">
            <h3 id="artCon" class="card-header">{{this.headline}}</h3>
            <div class="row">
                <div class="col-lg-8 card-block">
                    <p class="card-text">{{this.summary}}</p>
                </div>
                <div class="col-lg-4 align-self-end text-right">
                    <button class="btn btn-danger m-2 btn-remove" data-id="{{this._id}}">Remove</button>
                    <button class="btn btn-success m-2 btn-view-notes" data-id="{{this._id}}">View Notes</button>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<div class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>