body {
  background-image: url("../images/download.jpeg");
  background-color: red;
}

.jumbotron {
  text-align: center;
}

#jumbobtn {
  background-color: red;
  border-color: red;
  margin-bottom: 20px;

}

#sss {
  background-color: red;
  border-color: red;
}

#scrape {
  background-color: red;
  border-color: red;
}

#scrapedarticles {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.777);
}
#articles {
  display: inline-block;
  overflow: auto;
}

.savedbutton {
  width: 50%;
}

.headline {
  font-weight: bold;
}

textarea, input {
  display: block;
  width: 100%;
  background-color:rgba(255, 0, 0, 0.322);
}

input {
  height: 36px;
  font-size: 24px;
}
      
textarea {
  height: 200px;
  font-size: 18px;
}